.planet {
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 180px;
    background-color: var(--green-pale);
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    box-shadow: var(--green-box-shadow-3);
  }
  
  .planet-inactive {
    animation: flicker 15s ease-in-out infinite;
  }
  
  .planet-earth {
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: -13px;
    margin-top: -13px;
    border-radius: 180px;
    box-shadow: var(--green-box-shadow-2);
    background-image: url(./assets/earth.gif);
    background-size: 45px;
    background-position: center;
    filter: grayscale();
  }
  
  .planet-earth::before {
    display: block;
    content: 'SUPER EARTH';
    position: absolute;
    top: calc(100% + 15px);
    left: calc(50% - 80px);
    font-size: 7px;
    font-family: easVHSbold;
    width: 160px;
    text-align: center;
    color: white;
    text-shadow: 1px -1px 16px rgba(177,255,174,1);
    z-index: 1;
  }
  
  .planet-earth::after {
    display: block;
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    border-radius: 180px;
    background-color: var(--green-pale);
    box-shadow: var(--green-box-shadow-2);
    opacity: 0.8;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
      opacity: 0.2;
    }
    20% {
      transform: scale(12);
      opacity: 0;
    }
  
    100% {
      transform: scale(12);
      opacity: 0;
    }
  }
  
  .planet-active {
    background-color: red;
    transition: 0.5s ease-in-out;
    box-shadow: var(--red-box-shadow-1);
  }
  
  .planet-active .radar,
  .planet-active .pie-chart {
    display: block;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 180px;
    background-color: red;
  }
  
  .planet-active .radar {
    animation: scaleAnimation 2s ease-in-out infinite;
    opacity: 0;
    transition: 0.2s;  
  }
  
  .planet-active .pie-chart {
    display: block;
    position: absolute;
    transform: scale(2);
    box-shadow: var(--red-box-shadow-1);
    transition: 0.3s ease-in-out;
  }
  
  .planet-active .name {
    position: relative;
    margin-top: 8px;
    text-wrap: nowrap;
    opacity: 1;
  }
  
  .planet .name-hover {
    opacity: 0;
    margin-top: 0;
    padding-top: 8px;
    transition: 0.1s ease-in-out;
  }
  
  .planet:not(.planet-active):hover > .name-hover {
    opacity: 1;
  }
  
  .planet-info {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 250px;
    background-color: var(--green-black);
    padding: 5px;
    border: solid 1px var(--green-pale);
    color: var(--green-pale);
    box-shadow: var(--green-box-shadow-1);
  }
  
  .planet-info p {
    font-size: 6px;
  }
  
  .planet-active:hover {
    z-index: 99999999;
  }
  
  .planet-active:hover > .name {
    opacity: 0;
  }
  
  .planet-active:hover > .planet-info {
    visibility: visible;
    opacity: 1;
  }
  
  .planet-active:hover > .radar  {
    animation: none;
  }
  
  .planet-active:hover > .pie-chart {
    transform: scale(5);
  }