@keyframes blur {
    0% {
        filter:blur(0px);
    }
    4% {
        filter: blur(1px);
    }
    4.1% {
        filter:blur(0px);
    }
    100% {
        filter:blur(0px);
    }
}

@keyframes vhsLine {
    0% {
        top: calc(100% + 200px);
    }
    75% {
        top: calc(100% + 200px);
    }
    100% {
        top: -200px;
    }
}

@media screen and (min-width: 1200px) {
    .map {
        animation: blur 10s ease-in-out infinite;
    }
}

body.retro-active {
    color: var(--green-pale);
    background-color: var(--green-black);
}

.retro-active .map:after {
    animation: vhsLine 14s ease-in-out infinite;
}

.retro-active .wrapWrapper:before,
.retro-active .wrapWrapper:after {
  background-color: var(--green-black-bg);
  animation: vhsLine 16s ease-in-out infinite;
}

.retro-active .helldivers-grid {
    filter: blur1(2px);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.retro-active .planets-loading {
    background-color: var(--green-black-bg);    
}

.retro-active .planets-loading h2 {
  text-shadow: 1px -1px 16px rgba(0,0,0,1);
}

.retro-active .planets-loading::before,
.retro-active .planets-loading::after {
  box-shadow: var(--green-box-shadow-2);
}

.retro-active .planets-loading::after {
  box-shadow: var(--green-box-shadow-2);
  background-color: var(--green-pale);
}

.retro-active .button-controls button {
    box-shadow: var(--green-box-shadow-1);
}

.retro-active .button-controls button {
    border: solid 2px var(--green-pale);
    color: var(--green-pale);
}

/* .retro-active .button-controls button svg {
    fill: red;
} */

.retro-active .button-controls a {
    color: var(--green-pale-dark);
}

.retro-active .button-controls a:hover {
    color: var(--green);
}

.retro-active .news-feed {
  color: var(--green-pale);
}

.retro-active .typewriter {
    background:
    linear-gradient(-90deg,var(--green-pale) 5px,#0000 0) 10px 0,
    linear-gradient(var(--green-pale) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .7s infinite steps(1),   
      t calc(var(--n)*.02s) steps(var(--n)) forwards;
}

.retro-active .major-order h2 {
    text-shadow: 1px -1px 16px rgba(177,255,174,0.5);
}

.retro-active .major-order h2::after {
    border-bottom: solid 2px var(--green-pale);
    box-shadow: var(--green-box-shadow-2);
}