@media screen and (min-width: 1200px) {
    .map {
        animation: blur 10s ease-in-out infinite;
    }
}

.retro-active {
    color: $green-pale;
    background-color: $green-black;
    
    .map:after {
        animation: vhsLine 14s ease-in-out infinite;
    }

    .wrapWrapper:before,
    .wrapWrapper:after {
        background-color: $green-black-bg;
        animation: vhsLine 16s ease-in-out infinite;
    }

    .helldivers-grid {
        filter: blur(2px);
    }

    .planets-loading {
        background-color: $green-black-bg;
        
        h2 {
            text-shadow: 1px -1px 16px rgba($black,1);
        }

        &::before,
        &::after {
            box-shadow: $green-box-shadow-2;
        }

        &::after {
            background-color: $green-pale;
        }
    }

    .button-controls {
        button {
            box-shadow: $green-box-shadow-1;
            border: solid 2px $green-pale;
            color: $green-pale;
        }

        a {
            color: $green-pale-dark;

            &:hover {
                color: $green
            }
        }
    }

    .news-feed {
        color: $green-pale;
    }

    .typewriter {
        background:
        linear-gradient(-90deg,$green-pale 5px,#0000 0) 10px 0,
        linear-gradient($green-pale 0 0) 0 0;
        background-size:calc(var(--n)*1ch) 200%;
        -webkit-background-clip:padding-box,text;
        background-clip:padding-box,text;
        background-repeat:no-repeat;
        animation: 
          b .7s infinite steps(1),   
          t calc(var(--n)*.02s) steps(var(--n)) forwards;
    }

    .major-order h2 {
        text-shadow: $green-text-shadow-1;

        &::after {
            border-bottom: solid 2px $green-pale;
            box-shadow: $green-box-shadow-2;
        }
    }
}

body:not(.retro-active) .button-controls button img {
    filter: saturate(0);
}