* {
  box-sizing: border-box;
}

@font-face {
  font-family: easVHS;
  src: url(./assets/PixelOperatorMono8.ttf);
}

@font-face {
  font-family: easVHSbold;
  src: url(./assets/PixelOperatorMonoHB8.ttf);
}

:root {
  --white: rgb(255, 255, 255);
  --green: rgb(177, 255, 174);
  --green-pale: rgb(201, 255, 199);
  --green-pale-dark: rgb(113, 129, 112);
  --green-black: rgb(24, 30, 23);
  --green-black-bg: rgb(15, 20, 15, 0.7);
  --green-box-shadow-1: 0px 0px 15px 3px rgb(201, 255, 199, 0.2);
  --green-box-shadow-2: 0px 0px 15px 3px rgb(201, 255, 199, 0.4);
  --green-box-shadow-3: 0px 0px 15px 2px rgba(215, 255, 213, 0.4);
  --green-box-shadow-4: 0px 0px 15px 2px rgba(215, 255, 213, 0.1);
  --red: rgb(255, 0, 0);
  --red-box-shadow-1: 0px 0px 15px 3px rgb(255, 0, 0, 0.4);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: easVHS;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--green-pale);
  background-color: var(--green-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes blur {
  0% {
    filter:blur(0px);
  }
  4% {
    filter: blur(1px);
  }
  4.1% {
    filter:blur(0px);
  }
  100% {
    filter:blur(0px);
  }
}

@keyframes vhsLine {
  0% {
    top: calc(100% + 200px);
  }
  75% {
    top: calc(100% + 200px);
  }
  100% {
    top: -200px;
  }
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.static-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  opacity: 0.04;
}

.map {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: var(--green-black-bg); */
  animation: blur 10s ease-in-out infinite;
}

.wrapWrapper:before,
.wrapWrapper:after {
  display: block;
  content: '';
  position: absolute;
  height: 5px;
  background-color: var(--green-black-bg);
  left: 0;
  right: 0;
  top: calc(100% + 50px);
  animation: vhsLine 16s ease-in-out infinite;
  z-index: 1;
}

.map:after {
  animation: vhsLine 14s ease-in-out infinite;
}

h1,
h2,
h3,
h4 {
  font-family: easVHSbold;
  margin-top: 0;
}

h1 {
  text-transform: uppercase;
  font-family: easVHS;
}

h2 {
  font-size: 12px;
}

h3 {
  font-size: 10px;
}

p {
  font-size: 6px;
}

.info-wrap {
  margin-top: 10px;
}

.helldivers-grid {
  position: absolute;
  left: calc(50% - 474px);
  top: calc(50% - 471px);
  height: auto;
  width: 940px;
  opacity: 0.1;
  filter: blur1(2px);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.planet {
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 180px;
  background-color: var(--green-pale);
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  box-shadow: var(--green-box-shadow-3);
}

.planet-inactive {
  animation: flicker 15s ease-in-out infinite;
}

.planet-earth {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 180px;
  box-shadow: var(--green-box-shadow-2);
  background-image: url(./assets/earth.gif);
  background-size: 45px;
  background-position: center;
  filter: grayscale();
}

.planet-earth::before {
  display: block;
  content: 'SUPER EARTH';
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 80px);
  font-size: 7px;
  font-family: easVHSbold;
  width: 160px;
  text-align: center;
  color: white;
  text-shadow: 1px -1px 16px rgba(177,255,174,1);
  z-index: 1;
}

.planet-earth::after {
  display: block;
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  border-radius: 180px;
  background-color: var(--green-pale);
  box-shadow: var(--green-box-shadow-2);
  opacity: 0.8;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  20% {
    transform: scale(12);
    opacity: 0;
  }

  100% {
    transform: scale(12);
    opacity: 0;
  }
}

.planets-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--green-black-bg);
  z-index: 99999999;
}

.planets-loading h2 {
  font-size: 24px;
  z-index: 999;
  text-align: center;
  text-shadow: 1px -1px 16px rgba(0,0,0,1);
}

.planets-loading::before,
.planets-loading::after {
  display: block;
  content: '';
  position: absolute;
  height: 200px;
  width: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border-radius: 180px;
  box-shadow: var(--green-box-shadow-2);
  z-index: 1;
}

.planets-loading::before {
  background-image: url(./assets/earth.gif);
  background-size: 350px;
  background-position: center;
  filter: grayscale();
}

.planets-loading::after {
  border-radius: 180px;
  background-color: var(--green-pale);
  box-shadow: var(--green-box-shadow-2);
  opacity: 0.8;
  z-index: 2;
}
