* {
  box-sizing: border-box;
}

@font-face {
  font-family: easVHS;
  src: url(src/assets/PixelOperatorMono8.ttf);
}

@font-face {
  font-family: easVHSbold;
  src: url(src/assets/PixelOperatorMonoHB8.ttf);
}

:root {
  --white: rgb(255, 255, 255);
  --green: rgb(177, 255, 174);
  --green-pale: rgb(201, 255, 199);
  --green-pale-dark: rgb(113, 129, 112);
  --green-black: rgb(24, 30, 23);
  --green-black-bg: rgb(15, 20, 15, 0.7);
  --green-box-shadow-1: 0px 0px 15px 3px rgb(201, 255, 199, 0.2);
  --green-box-shadow-2: 0px 0px 15px 3px rgb(201, 255, 199, 0.4);
  --green-box-shadow-3: 0px 0px 15px 2px rgba(215, 255, 213, 0.4);
  --green-box-shadow-4: 0px 0px 15px 2px rgba(215, 255, 213, 0.1);
  --red: rgb(255, 0, 0);
  --red-box-shadow-1: 0px 0px 15px 3px rgb(255, 0, 0, 0.4);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: easVHS;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--green-pale);
  background-color: var(--green-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes blur {
  0% {
    filter:blur(0px);
  }
  4% {
    filter: blur(1px);
  }
  4.1% {
    filter:blur(0px);
  }
  100% {
    filter:blur(0px);
  }
}

@keyframes vhsLine {
  0% {
    top: calc(100% + 200px);
  }
  75% {
    top: calc(100% + 200px);
  }
  100% {
    top: -200px;
  }
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.static-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  opacity: 0.04;
}

.react-transform-wrapper {
  /* padding-left: 360px!important; */
}

.map {
  position: relative;
  height: 100vh;
  width: 100vw;
  /* background-color: var(--green-black-bg); */
  animation: blur 10s ease-in-out infinite;
}

.wrapWrapper:before,
.wrapWrapper:after {
  display: block;
  content: '';
  position: absolute;
  height: 5px;
  background-color: var(--green-black-bg);
  left: 0;
  right: 0;
  top: calc(100% + 50px);
  animation: vhsLine 16s ease-in-out infinite;
  z-index: 1;
}

.map:after {
  animation: vhsLine 14s ease-in-out infinite;
}

h1,
h2,
h3,
h4 {
  font-family: easVHSbold;
  margin-top: 0;
}

h1 {
  text-transform: uppercase;
  font-family: easVHS;
}

h1 span {

}

h2 {
  font-size: 12px;
}

h3 {
  font-size: 10px;
}

p {
  font-size: 6px;
}

.info-wrap {
  margin-top: 10px;
}

.helldivers-grid {
  position: absolute;
  left: calc(50% - 474px);
  top: calc(50% - 471px);
  height: auto;
  width: 940px;
  opacity: 0.1;
  filter: blur1(2px);
}

.earthGIF {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  width: 50px;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0.8;
  }
  3% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.planet {
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 180px;
  background-color: var(--green-pale);
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  box-shadow: var(--green-box-shadow-3);
}

.planet-inactive {
  animation: flicker 15s ease-in-out infinite;
}

.planet-earth {
  display: block;
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 180px;
  box-shadow: var(--green-box-shadow-2);
  background-image: url(src/assets/earth.gif);
  background-size: 45px;
  background-position: center;
  filter: grayscale();
}

.planet-earth::before {
  display: block;
  content: 'SUPER EARTH';
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 80px);
  font-size: 7px;
  font-family: easVHSbold;
  width: 160px;
  text-align: center;
  color: white;
  text-shadow: 1px -1px 16px rgba(177,255,174,1);
  z-index: 1;
}

.planet-earth::after {
  display: block;
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  border-radius: 180px;
  background-color: var(--green-pale);
  box-shadow: var(--green-box-shadow-2);
  opacity: 0.8;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  20% {
    transform: scale(12);
    opacity: 0;
  }

  100% {
    transform: scale(12);
    opacity: 0;
  }
}

.planet-active {
  background-color: red;
  transition: 0.5s ease-in-out;
  box-shadow: var(--red-box-shadow-1);
}

.planet-active .radar,
.planet-active .pie-chart {
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 180px;
  background-color: red;
}

.planet-active .radar {
  animation: scaleAnimation 2s ease-in-out infinite;
  opacity: 0;
  transition: 0.2s;  
}

.planet-active .pie-chart {
  display: block;
  position: absolute;
  transform: scale(2);
  box-shadow: var(--red-box-shadow-1);
  transition: 0.3s ease-in-out;
}

.planet-active .name {
  position: relative;
  margin-top: 8px;
  text-wrap: nowrap;
  opacity: 1;
}

.planet .name-hover {
  opacity: 0;
  margin-top: 0;
  padding-top: 8px;
  transition: 0.1s ease-in-out;
}

.planet:not(.planet-active):hover > .name-hover {
  opacity: 1;
}

.planet-info {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 250px;
  background-color: var(--green-black);
  padding: 5px;
  border: solid 1px var(--green-pale);
  color: var(--green-pale);
  box-shadow: var(--green-box-shadow-1);
}

.planet-info p {
  font-size: 6px;
}

.planet-active:hover {
  z-index: 99999999;
}

.planet-active:hover > .name {
  opacity: 0;
}

.planet-active:hover > .planet-info {
  visibility: visible;
  opacity: 1;
}

.planet-active:hover > .radar  {
  animation: none;
}

.planet-active:hover > .pie-chart {
  transform: scale(5);
}

.news-feed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  width: 360px;
  /* border-right: solid 2px var(--green-pale-dark); */
  color: var(--green-pale);
  /* box-shadow: var(--green-box-shadow-1); */
  box-sizing: border-box;
}

.typewriter {
  font-size: 8px;
  color:#0000;
  background:
    linear-gradient(-90deg,var(--green-pale) 5px,#0000 0) 10px 0,
    linear-gradient(var(--green-pale) 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
   b .7s infinite steps(1),   
   t calc(var(--n)*.02s) steps(var(--n)) forwards;
}

@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

.major-order,
.breaking-news {
  padding: 15px;
  margin-bottom: 25px;
}

.major-order p {
  font-size: 8px;
  line-height: 1.5rem;
}

.breaking-news p {
  font-family: monospace;
  line-height: 1px;
}